# Entorno virtual
.venv/

# Configuración de PyCharm
.idea/

# Carpetas de PyInstaller (excepto el ejecutable)
build/
dist/*
!dist/appLecturaEscrituraCanal.exe

# Archivos generados por PyInstaller
*.spec

#Archivo de configuración
config_local.py
